.div{
  position:absolute;
  width:20%;
  cursor:pointer;
  z-index:9999;
  }

.triangleleft{
  position:absolute;
  right:-11px;
  top:25px;
  width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 11px;
border-color: transparent transparent transparent rgba(1, 74, 111, 0.99);
  
}

.trianglebottom{
  position:absolute;
  left:130px;
  top:-16px;
  width: 0;
height: 0;
border-style: solid;
border-width: 0 11.5px 16px 11.5px;
border-color: transparent transparent rgba(1, 74, 111, 0.99) transparent;

  
}

.triangletop{
  position:absolute;
  
  bottom:-16px;
 width: 0;
height: 0;
border-style: solid;
border-width: 16px 10px 0 10px;
border-color: rgba(1, 74, 111, 0.99) transparent transparent transparent;

  
}
.triangleright{
    
    
position: absolute;
   left:-15px;
    top:25px;
    width: 0;
height: 0;
border-style: solid;
border-width: 10px 15px 10px 0;
border-color: transparent rgba(1, 74, 111, 0.99) transparent transparent;
    
}
.next{
  tap-highlight-color: rgba(0,0,0,0);
  margin-right: 5px !important;
  margin-top: 9px !important ;
  width: 19%;
  float: left;
    background-color:#00334D;
  border:none;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px !important;
   font-size: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.8)  0 1px 3px;
  
}
.next:active{
  box-shadow: inset 0 1px 3px #000000;
  
}

.next:focus {
    outline: none;
}
.krug{

  width: 9px;
  height: 9px;
  border-radius: 205px;
  border:1px solid rgba(5, 20, 28, 0.4);
background-color: transparent;
float: right;
margin-left: 3px;
margin-top: 15px;
margin-bottom: 6px;

}
.krug:hover {
  transform: scale(1.1,1.1);
  
}

.popup{
  animation-fill-mode: both;
    font-family: 'Source Code Pro' ;
 /* background-color: #005F8F;*/
  background-color: rgba(1, 74, 111, 0.99);
  width:268px;
  color: white;
  padding: 10px !important;
  padding-bottom:35px !important;
  font-size: 0.85em;
  border-radius: 4px;

  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
    
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
    
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
    
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    
  }
}
